<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/12bc343a-34d3-4a82-9a48-33195cb7c432/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/RobertsAuthTest</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://robertsauthtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>robertsauthtest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RobertsAuthTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RobertsAuthTest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:robertssimpletodolistdbserver.database.windows.net,1433;Initial Catalog=RobertsAuthTest_db;User ID=sqladmin@robertssimpletodolistdbserver;Password=Rutger_123A" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AuthTest.Models.ApplicationDbContext, AuthTest" MigrationConfiguration="AuthTest.Migrations.Configuration, AuthTest" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:robertssimpletodolistdbserver.database.windows.net,1433;Initial Catalog=RobertsAuthTest_db;User Id=sqladmin@robertssimpletodolistdbserver;Password=Rutger_123A</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>