@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    My house<br />
    In Pittsburgh<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:robert_hedstrom@hotmail.se">robert_hedstrom@hotmail.se</a><br />
</address>