@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET AuthTest</h1>
    <p class="lead">Testing stuff</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>A header</h2>
        <p>
            Lots of text...
        </p>
    </div>
</div>